canvas {
    padding: 0;
    margin:auto;
    display: block;
    border: 1px solid black;
    cursor: "crosshair"
}

#header {
    width: 100%;
    background-color:#FFFFFF;
    height: 80px;
    text-align: center;
    line-height: 80px;
}